<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="w-full h-screen bg-black">
        <div
        class="navbar h-[10%] w-full bg-zinc-700 text-white flex justify-evenly items-center mx-auto"
      >
        <h4
          class="font-bold text-xl w-[65%] flex justify-start align-center ml-5"
        >
          Company
        </h4>
        <div
          class="flex justify-between items-center font-semibold text-sm w-[35%] mr-5"
        >
          <a href="/BookSession">
            <h5><span class="text-yellow-600">Book your session</span></h5>
          </a>
          <a href="/about">
            <h5>About</h5>
          </a>
          <a href="/contact">
            <h5>Contact us</h5>
          </a>
          <a href="/profile">
            <h5 class="px-3 py-1 border-zinc-100 border-[2px] rounded-full">
              Profile
            </h5>
          </a>
        </div>
      </div>

      <div class="w-[90%] h-[90%] mx-auto flex justify-between items-center bg-white">

        <div class="w-full h-full p-8 flex justify-between items-center">
          <% const data = 90  %>
      
          <div class="w-1/2 h-full flex flex-col justify-center items-center">
              <% if (data >= 80  && data <= 100) { %>
                  <div class="flex justify-center items-center ">
                      <div class="layer1 relative z-10 w-96 h-96 bg-red-600 rounded-full flex justify-center items-center">
                          <div class="layer2 absolute z-20 w-72 h-72 bg-white rounded-full flex justify-center items-center">
                              <h1 class="text-7xl font-semibold text-red-700"><%= data %>%</h1>
                          </div>
                      </div>
                  </div>
              <% } else if (data < 80 && data >= 60) { %>
                  <div class="flex justify-center items-center">
                      <div class="layer1 relative z-10 w-96 h-96 bg-yellow-400 rounded-full flex justify-center items-center">
                          <div class="layer2 absolute z-20 w-72 h-72 bg-white rounded-full flex justify-center items-center">
                              <h1 class="text-7xl font-semibold text-orange-400"><%= data %>%</h1>
                          </div>
                      </div>
                  </div>
              <% } else if (data < 60 ) { %>
                  <div class="flex justify-center items-center">
                      <div class="layer1 relative z-10 w-96 h-96 bg-green-400 rounded-full flex justify-center items-center">
                          <div class="layer2 absolute z-20 w-72 h-72 bg-white rounded-full flex justify-center items-center">
                              <h1 class="text-7xl font-semibold text-green-400"><%= data %>%</h1>
                          </div>
                      </div>
                  </div>
              <% } else { %>
                  <div>
                      <h1>Data not found</h1>
                  </div>
              <% } %>
      
              <div class="my-8 p-4">
                  <h1 class="text-2xl font-semibold text-center text-blue-600/90">User Name</h1>
                  <p class="text-xl font-thin tracking-tight">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, eos.</p>
              </div>
          </div>
      
          <% if (data >= 80  && data <= 100) { %>
              <div class="w-1/2 h-full ">
                  <div class="w-full h-[20%] bg-red-600 my-8 flex justify-center items-center rounded-tr-3xl rounded-bl-3xl">
                      <h1 class="text-2xl font-bold text-center text-white">You're At Very HIGH Risk....</h1>
                  </div>
                  <div>
                    <div class="flex justify-between items-center">
                      <div class="w-2/6  flex flex-col justify-center items-center gap-4">
                          <button class="w-48 h-20 bg-green-400 text-xl font-semibold text-white rounded-tr-2xl rounded-bl-2xl">Read Blogs</button>
                          <button class="w-48 h-20 bg-blue-400 text-xl font-semibold text-white rounded-tr-2xl rounded-bl-2xl px-4">Meet our Psychatrist </button>
                      </div>
                      <div class="w-4/6 flex justify-center items-center p-4 ">
                          <img class="w-[80%] h-60 object-center object-cover rounded-xl border-2 border-bg-black shadow-lg" src="https://www.healthyplace.com/sites/default/files/uploads/2012/09/link-stress-mentalillness.jpg" alt="">

                      </div>
                  </div>

                  </div>
              
              </div>
          <% } else if (data < 80 && data >= 60) { %>
              <div class="w-1/2 h-full ">
                  <div class="w-full h-[20%] bg-yellow-500/80 my-8 flex justify-center items-center rounded-tr-3xl rounded-bl-3xl">
                      <h1 class="text-2xl font-bold text-center text-white">You're At Medium Risk</h1>
                  </div>
                  <div>
                    <div class="flex justify-between items-center">
                      <div class="w-2/6  flex flex-col justify-center items-center gap-4">
                          <button class="w-48 h-20 bg-green-400 text-xl font-semibold text-white rounded-tr-2xl rounded-bl-2xl">Read Blogs</button>
                          <button class="w-48 h-20 bg-blue-400 text-xl font-semibold text-white rounded-tr-2xl rounded-bl-2xl px-4">Explore </button>
                      </div>
                      <div class="w-4/6 flex justify-center items-center p-4 ">
                          <img class="w-[80%] h-60 object-center object-cover rounded-xl border-2 border-bg-black shadow-lg" src="https://www.redcross.ca/crc/BlogImagesEn/mental-health_600-min-(002).jpg?ext=.jpg" alt="">

                      </div>
                  </div>

                  </div>

              </div>
          <% }
          
          else if (data < 60 ) { %>
              <div class="w-1/2 h-full ">
                  <div class="w-full h-[20%] bg-green-500/80 my-8 flex justify-center items-center rounded-tr-3xl rounded-bl-3xl">
                      <h1 class="text-2xl font-bold text-center text-white">You are very healthy</h1>
                  </div>
                  <div>
                    <div class="flex justify-between items-center">
                      <div class="w-2/6  flex flex-col justify-center items-center gap-4">
                          <button class="w-48 h-20 bg-green-400 text-xl font-semibold text-white rounded-tr-2xl rounded-bl-2xl">Read Blogs</button>
                          <button class="w-48 h-20 bg-blue-400 text-xl font-semibold text-white rounded-tr-2xl rounded-bl-2xl px-4">Explore More</button>
                      </div>
                      <div class="w-4/6 flex justify-center items-center p-4 ">
                          <img class="w-[80%] h-60 object-center object-cover rounded-xl border-2 border-bg-black shadow-lg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2kLlZQMKrJNFITTAtPI0p7zDvje9TGQ3TtHH2sqaPtg&s" alt="">

                      </div>
                  </div>

                  </div>
                 
              </div>
          <% } else { %>
              <div>
                  <h1>data not found</h1>
              </div>
          <% } %>
      </div>
      
      
    </div>
    
   
      
      </body>
</html>