<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="w-full h-screen px-8 py-4">
        <div
        class="navbar h-[10%] w-full bg-zinc-700 text-white flex justify-evenly items-center mx-auto"
      >
        <h4
          class="font-bold text-xl w-[65%] flex justify-start align-center ml-5"
        >
          Company
        </h4>
        <div
          class="flex justify-between items-center font-semibold text-sm w-[35%] mr-5"
        >
          <a href="/BookSession">
            <h5><span class="text-yellow-600">Book your session</span></h5>
          </a>
          <a href="/about">
            <h5>About</h5>
          </a>
          <a href="/contact">
            <h5>Contact us</h5>
          </a>
          <a href="/profile">
            <h5 class="px-3 py-1 border-zinc-100 border-[2px] rounded-full">
              Profile
            </h5>
          </a>
        </div>
      </div>

      <% if(doctordata.length) {
        %>   <%
      } %>
       
    </div>
   
<script src="/javascript/script.js"></script>
</body>
</html>