<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <form action="/register" method="post">
      <input type="text" placeholder="name" name="name">
      <input type="number" placeholder="number" name="number">
      <input type="email" placeholder="email" name="email">
    </form>
<script src="/javascript/script.js"></script>
</body>
</html>