<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="w-full h-screen bg-black">
        <div
        class="navbar h-[10%] w-full bg-zinc-700 text-white flex justify-evenly items-center mx-auto"
      >
        <h4
          class="font-bold text-xl w-[65%] flex justify-start align-center ml-5"
        >
          Company
        </h4>
        <div
          class="flex justify-between items-center font-semibold text-sm w-[35%] mr-5"
        >
          <a href="/BookSession">
            <h5><span class="text-yellow-600">Book your session</span></h5>
          </a>
          <a href="/about">
            <h5>About</h5>
          </a>
          <a href="/contact">
            <h5>Contact us</h5>
          </a>
          <a href="/profile">
            <h5 class="px-3 py-1 border-zinc-100 border-[2px] rounded-full">
              Profile
            </h5>
          </a>
        </div>
      </div>

      <div class="w-[90%] h-[90%] mx-auto flex justify-between items-center bg-white ">

        <div class="w-1/2 h-full p-8 flex flex-col justify-center items-center ">
                <div class="flex justify-center items-center">
                    <div class="layer1 relative z-10 w-96 h-96 bg-yellow-400 rounded-full flex justify-center items-center">
                        <div class="layer2 absolute z-20 w-72 h-72 bg-white rounded-full flex justify-center items-center">
                            <h1 class="text-7xl font-semibold text-green-400">80%</h1>
                        </div>
                    </div>
                    
                </div>

           
                

                <div class="my-8 p-4">
                    <h1 class="text-2xl font-semibold text-center text-blue-600/90">User Name</h1>
                    <p class="text-xl font-thin tracking-tight text-wrap ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, eos.</p>
                </div>
        </div>
       
       <div class="w-1/2 h-full flex flex-col px-4 py-2">
            <div class="w-full h-[20%] bg-blue-400 my-8 flex justify-center items-center rounded-tr-3xl rounded-bl-3xl">
                <h1 class="text-2xl font-bold text-center text-red-500">You're At HIGH Risk....</h1>
            </div>
            <div>
                <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ut, error sit dolor quidem eos enim natus molestiae, perspiciatis quas ipsa temporibus adipisci nemo.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, fugit a dicta sequi est molestias distinctio doloremque repellendus similique sapiente.</p>
            </div>

            <div class="flex justify-between items-center">
                <div class="flex flex-col justify-center items-center gap-4 ">
                    <button class="w-48 h-20 bg-green-400 text-xl font-semibold text-white rounded-tr-2xl rounded-bl-2xl">Read Blogs</button>
                    <button class="w-48 h-20 bg-blue-400 text-xl font-semibold text-white rounded-tr-2xl rounded-bl-2xl ">Meet our Experts</button>
                </div>
                <div class="flex justify-center items-center p-4">
                    <img 
                    class="w-full h-72 "
                    src="https://img.freepik.com/free-photo/painting-person-suffering-from-anxiety_23-2150859338.jpg?t=st=1714227825~exp=1714231425~hmac=7a2b6e3e12d9f18136dbc856630e594908e7aabfa63e97beba357ddc07db5d5c&w=360" alt="">
                </div>
            </div>

       </div>
      </div>
    </div>
   
<script src="/javascript/script.js"></script>
</body>
</html>